<section class='text-gray-600 body-font'>
    <div class='w-[90%] container rounded border-2 border-gray-400 bg-white px-5 py-24 mx-auto'>
        <div class='flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col'>
            <div class='flex-grow sm:text-left text-center mt-6 sm:mt-0'>
                <h2 class='text-gray-900 text-lg text-center title-font font-medium mb-2'>사용자 아이디 : <%- uid %></h2>
            </div>
        </div>
        <div class='flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col'>
            <div class='flex-grow sm:text-left text-center mt-6 sm:mt-0'>
                <h2 class='text-gray-900 text-lg text-center title-font font-medium mb-2'>생년월일 : <%- birth %></h2>
            </div>
        </div>
        <div class='flex items-center lg:w-3/5 mx-auto border-b border-gray-200 pb-10 mb-10 sm:flex-row flex-col'>
            <div class='flex-grow sm:text-left text-center mt-6 sm:mt-0'>
                <h2 class='text-gray-900 text-lg text-center title-font font-medium mb-2'>잔여 포인트 : <%- point %></h2>
            </div>
        </div>
    </div>
</section>